@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додаткові стилі */
body {
  background-color: #121212; /* Темний фон */
  color: #ffffff; /* Білий текст */
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #000000; /* Чорний хедер */
  padding: 1rem;
}

a {
  color: #facc15; /* Жовті посилання */
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'ShrekFont';
  src: url('/shrek.ttf') format('truetype');
}

.font-custom {
  font-family: 'ShrekFont', sans-serif;
}

